<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    "
  >
    <form action="/login" method="post">
      <h3>Login</h3>
      <input
        class="form-control"
        type="text"
        name="username"
        placeholder="Username"
      />
      <input
        class="form-control my-2"
        type="password"
        name="password"
        placeholder="password"
      />
      <div class="text-center">
        <button class="btn btn-primary w-100" type="submit">Login</button>
        <a class="text-decoration-none" href="/signup">
          You don't have accound! sign up
        </a>
      </div>
    </form>
  </body>
</html>
